@font-face {
    font-family: 'Apercu Pro Regular';
    font-style: normal;
    font-display: swap;
    src: url("//http://ceracare.co.uk/Assets/fonts/Apercu Pro Regular.ttf") format("truetype");
}

textarea,
body {
    font-family: 'Apercu Pro Regular';
}

fieldset {
    text-align: left;
    margin: 0 0 1rem 0;
    border: none;
    display: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
}

fieldset label {
    display: block;
    font-weight: bold;
}

fieldset div {
    display: flex;
    flex-direction: column;
}

fieldset div>* {
    order: 1;
}

fieldset div>label.control-label {
    order: 0;
}

input.question-trigger {
    display: none;
}

label.question-trigger {
    display: block;
    padding: 0 0 0.5rem 0;
}

input.question-trigger:checked~label {
    color: tomato;
}

input.question-trigger:checked~fieldset {
    display: block;
}

.question_helpText {
    padding: 0 0 0.5rem 0;
}

.question_labelIs--notShown {
    display: none;
}

input:valid,
textarea:valid {
    background-color: rgba(0, 255, 0, 0.05);
}

input:not(:valid),
textarea:not(:valid) {
    background-color: rgba(255, 0, 0, 0.05);
}

input:focus:not(:valid),
input:placeholder-shown:not(:valid),
textarea:focus:not(:valid),
textarea:placeholder-shown:not(:valid) {
    background-color: rgba(255, 128, 0, 0.05);
}


/* not valid - but empty */

input[type='radio']:not(:valid)~label.control-label::before,
input:placeholder-shown:not(:valid)~label.control-label::before,
textarea:placeholder-shown:not(:valid)~label.control-label::before {
    content: '';
    /* content: '⬜'; */
}


/* valid */

input:valid~label.control-label,
textarea:valid~label.control-label {
    color: green;
}

input:valid~label.control-label::before,
textarea:valid~label.control-label::before {
    content: '';
    /*'✔️';*/
}


/* not valid - but not empty */

input:not([type='radio']):not(:valid)~label.control-label,
textarea:not(:valid)~label.control-label {
    color: red;
}

input:not([type='radio']):not(:valid)~label.control-label:before,
textarea:not(:valid)~label.control-label::before {
    content: '';
    /* '❌'; */
}

input:not([required])~label,
textarea:not([required])~label,
input[type='radio']:not([required])~label {
    border: none;
}

label.control-label::before {
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
    position: relative;
    display: none;
}


/* format radio labels differently */

input[type='radio'] {
    display: inline-block;
    margin: 0.1rem 0.5rem 0.0rem 0;
}

input[type='radio']~label.radio-label {
    display: inline-block;
    border: none;
}

input:not([required])~label.control-label::before {
    content: ' ';
}

.control-list {
    max-width: 90%;
}

.control-label {
    margin: 0 0 0.5rem 0;
    position: relative;
}

.control-label::after {
    content: ': ';
    margin-right: 1rem;
}

.question-row {
    border-bottom: #eee 2px solid;
    margin: 0 0 0 2rem;
    padding: 0.2rem 0;
}

.question-row>input:not([type='checkbox']) {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 0.2rem;
    text-align: center;
    border: #aaa 1px solid;
}

.question-row.disabled>input,
.question-row.disabled>textarea {
    background-color: #ccc;
    opacity: 0.5;
}

.question-row.disabled>input:not(:valid)~label.control-label,
.question-row.disabled>textarea:not(:valid)~label.control-label {
    color: black
}

.question-row.disabled>input:not(:valid)~label.control-label::before,
.question-row.disabled>textarea:not(:valid)~label.control-label::before {
    content: '';
}

.question-row:not(.disabled):focus-within>textarea {
    height: 10rem;
}

.form-section {
    counter-reset: rowCount invalidCount validCount;
    padding: 0.5rem 0 0.5rem 1rem;
}

.form-section {
    display: grid;
    grid-template-columns: auto 8rem 8rem 8rem;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.section-label {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
}

.rowCount {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.invalidCount {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
}

.validCount {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
}

.question-list {
    grid-area: 2 / 1 / 3 / 5;
    text-align: left;
}

.toggle-visible {
    display: none;
}

.question-list {
    overflow: hidden;
    height: 0px;
}

.question-list:focus-within,
:checked~.question-list {
    padding: 1rem 0;
    margin: 1rem 0 0.5rem 0;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    display: block;
    height: auto;
    overflow: unset;
}

.question-row:not(.disabled) {
    counter-increment: rowCount;
}

.question-row:not(.disabled)>input:not([type='radio']):not([type='checkbox']):not(:valid),
.question-row:not(.disabled)>textarea:not(:valid) {
    counter-increment: invalidCount;
}

.question-row:not(.disabled)>input:not([type='radio']):not([type='checkbox']):valid,
.question-row:not(.disabled)>textarea:valid {
    counter-increment: validCount;
}

.validCount::after {
    content: counter(validCount);
}

.rowCount::after {
    content: counter(rowCount);
}

.invalidCount::after {
    content: counter(invalidCount);
}